:root {
    --primary-font-family: 'Roboto', sans-serif;
    --primary-font-size: 0.875rem;

    --primary-text-color: #000;
    --primary-bg-color: #fff;

    --footer-text-color: #fff;
    --footer-bg-color: #000;
}

body {
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
    color: var(--primary-text-color);
    background: var(--primary-bg-color);
}
 
footer {
    color: var(--footer-text-color);
    background: var(--footer-bg-color);
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size:  1.45rem;
}

h2{
    font-size: 1.3rem;
}

.footer-social{
    padding: 0;
}

.list-unstyled{
list-style: none;
}

.fa-brands{
    color: #fff;
    font-size: 24px;
}

.list-link{
    align-items: center;
    color: currentColor;        
    font-size: 24px;
    text-decoration: none;
}

.list-link:hover,
.list-link:focus {
    color: #2196f3; 
}

a:link:active,
a:visited:active {
    cursor:pointer;

    color: greenyellow;
}
/* .list-link::before,
.list-link::after {
    content: '';    
    
} */