body {
    --padding: 5vw;
    --max-width: 180ch;
}

.grid {
    --min: 30ch;

    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
}


.card {
    display: grid;
    min-width: var(--min);
    max-width: minmax(var(--min), 1fr);
}

