<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Responsive Flexbox layout</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
        integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./styles.css">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon" sizes="32x32">

</head>

<body translate="no">
    <div class="container">
    <ul role="list" class="flexbox">
        <li class="card">
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </li>
        <li class="card">
            <h3>Minus, pariatur?</h3>
            <p>Veritatis optio illum possimus eveniet exercitationem perferendis ad?</p>
        </li>
        <li class="card">
            <h3>Iste, assumenda!</h3>
            <p>Esse minima in maiores similique unde eaque nostrum!</p>
        </li>

        <li class="card">
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </li>
        <li class="card">
            <h3>Minus, pariatur?</h3>
            <p>Veritatis optio illum possimus eveniet exercitationem perferendis ad?</p>
        </li>
        <li class="card">
            <h3>Iste, assumenda!</h3>
            <p>Esse minima in maiores similique unde eaque nostrum!</p>
        </li>
    </ul>
    </div>
</body>

</html>