<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>layout</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
        integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./styles.css">
    <link rel="shortcut icon" href="../../../favicon.ico" type="image/x-icon" sizes="32x32">

</head>

<body>
    <div>
        <h1>Responsive 2 Column With Footer</h1>
    
        <div class="grid-container">
            <div class="header">
                <h1>Header Title</h1>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="sidebar">
                <h2>Sidebar</h2>
                <ul>
                    <li>List Item 1</li>
                    <li>List Item 2</li>
                    <li>List Item 3</li>
                    <li>List Item 4</li>
                    <li>List Item 5</li>
                    <li>List Item 6</li>
                </ul>
            </div>
            <div class="main">
                <h2>Main Content</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nisi a voluptas ratione quo, fugiat accusantium
                    provident laborum quis voluptatibus quisquam obcaecati,
                    perspiciatis corrupti optio architecto rerum iste
                    asperiores beatae maxime.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Dicta alias commodi ex aspernatur culpa, magni
                    laborum! In, dolore tenetur pariatur rem aliquam
                    repellendus quod, aspernatur, facilis autem ipsam
                    distinctio deserunt.
                </p>
            </div>
            <div class="footer">
                <h3>Footer</h3>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing
                    elit. Illo aut, ipsa laboriosam officia maxime odit,
                    accusantium nisi voluptas.
                </p>
            </div>
        </div>
    
    </div>
    
    </div>
</body>

</html>