body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: medium;

    padding: 20px;
}

.countdown {
    display: inline-block;
    font-size: 40px;
    margin-top: 0px;
}
form{
    margin-bottom: 15px;
}

